@page
@model LoginModel

@{
    ViewData["Title"] = "Ingresar";
}

<link href="/css/Pagina_Login.css" rel="stylesheet" type="text/css">
<script src="https://apis.google.com/js/platform.js" async defer></script>


<div class="row my-5">
    <div class="col-lg-5 offset-lg-1" id="izquierda">
        <div><img src="/img/helduLogo.png" id="logoHeldu" alt="Heldu_Logo" /></div>
        <div id="divClaim">
            <h4>
                Ingresa como usuario y accede a todos los beneficios de Heldu
            </h4>
        </div>
        <div id="divAsk">
            <h4>¿No estás registrado aún?</h4>
            <a href="/Identity/Account/Register" class="btn btn-primary">¡Regístrate!</a>
            <div class="hr-temporal-registro row">
                <hr />
                <p>o</p>
                <hr />
            </div>
        </div>
    </div>

    <div class="col-lg-5">
        <section>
            <h2>Ingresa</h2>
            <form id="account" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="row inputs">
                    <div class="form-group">
                        @*<label style="width: 100%; text-align: left;" asp-for="Input.Email">Correo electrónico</label>*@
                        <input asp-for="Input.Email" class="form-control" placeholder="ejemplo@dominio.com" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="row inputs">
                    <div class="form-group">
                        @*<label style="width: 100%; text-align: left;" asp-for="Input.Password">Contraseña</label>*@
                        <input asp-for="Input.Password" class="form-control" placeholder="contraseña" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                        <p id="recuperar-password">
                            <a id="forgot-password" asp-page="./ForgotPassword">No recuerdo mi contraseña</a>
                        </p>
                    </div>
                </div>
                <div class="row" id="div-boton-login">
                    <div class="form-group col-lg-9" id="keep-session">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                Mantener mi sesión abierta
                            </label>
                        </div>
                    </div>
                    <div class="form-group col-lg-3">
                        <button type="submit" class="btn btn-primary">Entrar</button>
                    </div>
                </div>
            </form>
            <div class="row barra-hr-el">
                <hr />
                <p>o</p>
                <hr />
            </div>
        </section>
        <section>
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div class="div-botones-EL">
                            @foreach (var provider in Model.ExternalLogins)
                            {
                                <button type="submit" style="width:auto;" class="btn btn-login" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                    <img class="imagenes-el" />
                                    <p>Ingresa con @provider.DisplayName</p>
                                </button>
                            }
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<script defer>
    let buscador = document.getElementById('formBuscador2');
    let barra = document.getElementsByClassName('hr-temporal-registro');
    barra[0].classList.add('d-none');
    buscador.classList.add('d-none');
    let botones = document.getElementsByClassName('btn-login');
    for (let i = 0; i < botones.length; i++) {
        if (botones[i].value === 'Google') {
            botones[i].setAttribute('id', 'boton-google');
            botones[i].children[0].setAttribute('src', 'https://image.flaticon.com/icons/svg/2702/2702602.svg');
        }
        if (botones[i].value === 'Facebook') {
            botones[i].setAttribute('id', 'boton-facebook');
            botones[i].children[0].setAttribute('src', 'https://image.flaticon.com/icons/svg/1384/1384053.svg');
        }
    }</script>