@page
@model LogoutModel
@{
    ViewData["Title"] = "Cerrar sesión";
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>Has cerrado tu sesión con éxito.</p>
    <p>Haz click en el siguiente enlace para <a asp-controller="Home" asp-action="Index">volver a las ofertas</a>.</p>
</header>