@page
@model RegisterModel
@{
    ViewData["Title"] = "Registro";
}

<link href="/css/Pagina_Register.css" rel="stylesheet" type="text/css">
<script src="~/js/Register_General.js"></script>

<div class="my-4">
    <h1>Bienvenido a Heldu</h1>
    <div class="row" id="div-inicial-register">
        <div class="col-md-12">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <!-- Registro IdentityUser -->
                <div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input placeholder="Introduce tu correo" asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input id="first-password" placeholder="Introduce al menos 8 dígitos y 1 mayúscula" asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                        <p id="mensaje-error" class="mensaje-error d-none">La contraseña debe de tener 8 caracteres, una letra mayúscula, una minúscula, un número y un carácter especial</p>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.ConfirmPassword"></label>
                        <input id="confirm-password" placeholder="Confirma tu contraseña" asp-for="Input.ConfirmPassword" class="form-control" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group d-none">
                        <input asp-for="Input.IsCliente" value="true" checked class="form-control" />
                        <span asp-validation-for="Input.IsCliente" class="text-danger"></span>
                    </div>
                    <div id="div-boton-register">
                        <button id="btn-register" type="submit" class="btn btn-primary">Registarme</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

