.container {
    display: flex !important;
    justify-content: center;
    text-align: center !important;
}
h2 {
    font-size: 2.5rem;
}

.form-group {
    justify-content: space-between;
    width: 100%;
}

#div-boton-login {
    margin: -1.5rem 0rem !important;
}

#div-boton-login button {
    padding: 0.5rem 2rem;
    position: relative;
    right: 3rem;
}

.barra-hr-el {
    margin: 2vw 0vw 1vw 0vw;
}

.barra-hr-el hr {
    width: 45%;
}

.inputs {
    margin-left: 15px;
    margin-right: 15px;
    width: 90%;
}

#recuperar-password {
    float: right;
    margin-top: 0.5rem;
}

#keep-session {
    align-self: flex-end;
    text-align: left;
}
.div-botones-EL {
    display: flex;
    flex-direction: column;
}

.div-botones-EL button{
    color: white;
    display: flex;
    height: 3vw;
    flex-direction: row;
    justify-content: left;
}

.imagenes-el {
    width: 2vw;
}

button p{
    width: 100%;
    text-align: center;
}

#boton-google {
    color: black;
    border: 1px solid #0000001c;
    margin-bottom: 1vw;
    opacity: 0.6;
    transition: 0.3s;
}

#boton-facebook {
    background: #4267b2;
    opacity: 0.6;
    transition: 0.3s;
}

#boton-google:hover, #boton-facebook:hover {
    opacity: 1;
}

#logoHeldu {
    height: 5vw;
    width: auto;
    margin: 1vw;
}

#izquierda {
    border-right: solid;
    border-right-color: lightgray;
    border-right-width: 1px;
}

#divClaim {
    margin: 2vw 1vw;
}

#divAsk {
    margin: 2vw 1vw;
}

#divAsk h4 {
    margin-bottom: 1.5rem;
}

@media screen and (max-width: 992px) {
    #logoHeldu {
        display: none;
    }
    #divClaim h4{
        font-size: 6vw;
        font-weight: 400;
    }
    #divAsk h4 {
        font-size: 4vw;
        font-weight: 400;
        font-style: italic;
        margin: 8vw;
    }
    .my-5 {
        margin-top: 1rem !important;
    }

    #izquierda {
        border: none;
    }
    .hr-temporal-registro {
        margin: 5vw 0vw 1vw 0vw;
    }
    .hr-temporal-registro hr {
        width: 45%;
    }
    #div-boton-login button {
        position: initial;
    }
    .barra-hr-el {
        margin-top: 7vw;
    }
    .div-botones-EL {
        opacity: 1;
    }
    #boton-google{
        height: 11vw !important;
        opacity: 1;
    }
    #boton-facebook {
        height: 11vw !important;
        opacity: 1;
    }
    .imagenes-el {
        width: 7vw;
    }
    .barra-hr-el {
        display: none;
    }
}