#div-opciones-acceso {
    justify-content: space-evenly;
}

#div-inicial-register {
    justify-content: center;
}

h1 {
    text-align: center;
}

.container {
    display: flex !important;
    justify-content: center;
    text-align: center !important;
}

.form-group {
    justify-content: space-between;
    width: 100%;
}

#div-boton-register {
    justify-content: space-between;
}

#opcion-comprar {
    cursor: pointer;
    width: 2vw;
    height: 2vw;
    transition: transform .7s;
}

#opcion-comprar:hover {
    background-size: 100%;
    transform: scale(1.1);
}

#opcion-vender {
    cursor: pointer;
    width: 2vw;
    height: 12vw;
    transition: transform .7s;
}
#opcion-vender:hover {
    background-size: 100%;
    transform: scale(1.1);
}