#control-next-carousel{
    justify-content: flex-start;
}

.imagenes-carousel {
    height: 27vw;
    width: 40vw;
}

.precios-producto-detalles {
    align-items: baseline;
    font-size: 1.6vw;
    height: 4vw;
}

.precios-producto-detalles p {
    height:inherit;
}

.precio-final-opciones {
    font-size: 2.1vw;
    text-align: right;
    color: #0e950e;
    font-weight: 600;
}

#precio-final-producto + p {
    font-size: 2.1vw;
    color: #0e950e;
    font-weight: 600;
}

.precio-inicial-opciones {
    text-decoration-line: line-through;
    color: #775e5e;
}

.descuento-opciones {
    font-size: 1.5vw;

}

.informacion-producto {
    display: flex;
    align-items: center;
    font-size: 2vw;
    font-family: 'Open Sans Condensed';
}

.precio-compra-ahorro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.precio-compra-ahorro p{
    height: inherit;
}

.precio-compra-ahorro:first-child {
    font-size:1.4vw;
    text-decoration-line:underline;
}

#precio-compra {
    font-size: 2vw;
    text-align: right;
    font-weight: 600;
}

#cantidad-ahorrada {
    width:100%;
    text-align: right;
}

.checked {
    color: orange;
}

a {
    cursor:pointer;
}

.boton-comprar-producto {
    font-family: revert;
    width: 100%;
    background: #F21B6D;
    color: whitesmoke;
}

.icono-carousel {
    padding: 1vw;
    border-radius: 50%;
    background-color: #F21B6D;
}

.normal-thumbnail-carousel img{
    width: 7vw;
    height: 7vw;

}

.normal-thumbnail-carousel img:hover {
    border: 3px solid #F21B6D;
}

.barra-opciones-producto {
    margin-top: 3vw;
}

.div-fecha-validez {
    font-size: 1.4vw;
    margin: 1vw 0vw -1vw 0vw;
}

.navegador-condiciones-productos {
    padding: 0;
    background-color: #F7F6F2;
    border-bottom: 1px solid gray;
}

.contenedor-texto-ocultar {
    height: 23vw;
}

.div-mapa iframe {
    border: 0px;
    height: 17vw;

}

.ul-opciones-producto {
    width: 100%;
    justify-content: start;
}

.ul-opciones-producto a {
    margin: 0vw 2vw;
    padding: 1vw 2vw;
    font-size: larger;
}

.anclas-opciones:hover {
    background-color: white;
}

