input {
    width: 1.4vw;
    height: 1.4vw;
}

label {
    font-size: 1.3vw;
    margin-left: 1vw;
}

ul {
    list-style-type: none;
    padding-left: 1vw;
}

h2 {
    font-size: 3vw;
    font-weight: 400;
}

h6 {
    font-weight: 600;
}

.ubicacion-del-vendedor img{
    height: 2vw;
    padding: 0;
}

#control-next-carousel {
    justify-content: flex-start;
}

.imagenes-carousel {
    height: 27vw;
    width: 40vw;
    border-radius: 1vw;
    width: inherit;
}

.media-de-vendedor {
    justify-content: flex-start;
    align-items: baseline;
}

.media-de-vendedor p{
    color: #09F;
    padding-left: 1vw;
}

#descripcion-de-producto {
    text-align: justify;
    margin-bottom: 0.5vw;
}

#fecha-validez {
    padding: 0;
    display: flex;
}

.fecha-y-visitas {
    margin-top: 2vw;
    margin-bottom: 3vw;
    align-items: center;
    justify-content: flex-start;
    color: gray;
}

.fecha-y-visitas div{
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: left;
}
.fecha-y-visitas img{
    width: 1.5vw;
    height: 1.5vw;
    margin: 0vw 0.5vw 0vw 1vw;
    opacity: 0.7;
}

.fecha-y-visitas p {
    padding: 0;
}

.input-opciones-productos {
    width: 100%;
}

.precios-producto-detalles {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    font-size: 1.7vw;
    height: 4vw;
    font-family: 'Roboto', sans-serif;
    margin-top: 4vw;
}

.precios-producto-detalles p {
    height: inherit;
}

.precios-producto-detalles div {
    padding-right: 0.5vw;
}


.precio-final-opciones {
    text-align: right;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #2B9720;
}

#precioFinalProducto {
    border-left: 1px solid gray;
    padding-left: 1vw;
}

.precio-inicial-opciones {
    text-decoration-line: line-through;
    color: gray;
    opacity: 0.8;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#precioInicialProducto {
    border-left: 1px solid gray;
    padding-left: 1vw;
}

.descuento-opciones {
    font-size: 1.5vw;
    color: #f3317b;
}

.informacion-producto {
    display: flex;
    align-items: center;
    font-size: 2vw;
    font-family: 'Open Sans Condensed';
}

#precio-compra {
    font-size: 2vw;
    text-align: right;
    font-weight: 600;
}

#cantidad-ahorrada {
    width: 100%;
    text-align: right;
}

.checked {
    color: orange;
}

a {
    cursor: pointer;
}

.div-boton-comprar {
    display: flex;
    justify-content: center;
}

.boton-comprar-producto {
    font-weight: 600;
    text-transform: uppercase;
    background: #F21B6D;
    opacity: 0.9;
    color: whitesmoke;
    padding: 0.5rem 3rem 0.5rem 3rem;
}
.boton-comprar-producto-clicked {
    color: white;
    text-transform: uppercase;
    background-color: darkgray;
    padding: 0.5rem 2rem 0.5rem 2rem;
    cursor: not-allowed;
}

.div-boton-comprar a:hover {
    opacity: 1;
    color: white;
}

#reportarProblema {
    text-align: center;
    cursor: pointer;
    width: 100%;
    color: darkblue;
    padding-top: 10px;
    font-size: small;
    font-weight: 600;
    margin:0;
}

.icono-carousel {
    padding: 1vw;
    border-radius: 50%;
    background-color: #F21B6D;
}

.carousel-indicators a {
    border-radius: 8%;
}

.normal-thumbnail-carousel img {
    width: 7vw;
    height: 7vw;
    border-radius: 8%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.normal-thumbnail-carousel img:hover {
    border: 3px solid #F21B6D;
}

.seccion-inferior {
    margin-top: 3vw;
}

.falso-rou {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.navegador-condiciones-productos {
    background-color: #F7F6F2;
    border-bottom: 1px solid gray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 1.5vw;
}

.navegador-condiciones-productos a{
    padding: 1vw 0vw;
}

.contenedor-texto-ocultar {
    height: 23vw;
}

.condiciones-del-cupon {
    width: 50%;
}

.texto-ocultar h5{
    text-align: center;
}
.div-mapa iframe {
    border: 0px;
    height: 18vw;
    width: inherit;
}

.anclas-opciones:hover {
    background-color: white;
}

/* CSS para Checkout/Confirmar */

#checkoutTitle {
    text-align: center;
    margin-bottom: 1vw;
    color: #2B9720;
}

.precios {
    padding: 10px;
    text-align: center;
    font-size: 1.5vw;
}
    .precios #precioInicial {
        text-decoration-line: line-through;
        color: gray;
        opacity: 0.8;
        align-items: center;
    }
    .precios #precioFinal {
        text-align: right;
        align-items: center;
        color: #2B9720;
        border-left: 1px solid gray;
        padding-left: 1vw;
    }
    .precios #ahorro {
        color: #f3317b;
        padding-left: 1vw;
        border-left: 1px solid gray;
        padding-left: 1vw;
    }

.StripeElement {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

#datosPago {
    color: #1C2229;
    padding:1vw 0vw 2vw 0vw;
}
.labelPayment {
    color: #1C2229;
    font-size:1rem;
    font-weight:500;
}

#pricePayment {
    color: #1C2229;
    font-size: 1.5rem;
    font-weight: 500;
}

@media screen and (max-width: 993px) {
    .titulo-producto-detalles h2{
        font-size: 5vw;
    }
    .ubicacion-del-vendedor {
        font-size: 2vw;
        width: 100%;
        height: 4vw;
    }
    .ubicacion-del-vendedor img{
        width: 20%;
        height: 3vw;
        bottom: -2vw;
    }

    .ubicacion-del-vendedor p{
        width: 80%;
    }
    .media-de-vendedor {
        justify-content: flex-start;
        font-size: 2vw;
        height: 4vw;
        padding-left: 4vw;
    }
    .imagenes-carousel {
        height: 50vw;
    }
    #descripcion-de-producto {
        font-size: 2vw;
        margin: 2vw 5vw;
    }
    #fecha-validez {
        font-size: 2vw;
    }
    .fecha-y-visitas {
        justify-content: space-around;
        margin-top: 1vw;
        margin-bottom: 1vw;
        height: 4vw;
    }
    .imagen-visitas-detalles {
        width: 2.4vw !important;
        height: 2.4vw !important;
    }
    #cantidad-temporal-visitas {
        font-size: 2vw;
    }
    label {
        margin-bottom: 0vw;
    }
    form div {
        height: 3vw;
        align-items: unset;
    }
    .descuento-opciones {
        font-size: 3vw;
    }
    .div-opciones-producto input {
        width: 4%;
        margin-left: 20%;
        height: 2vw;
    }
    .div-opciones-producto label {
        width: 40%;
        margin-left: 0;
        padding-left: 0;
        font-size: 2vw;
    }
    .precios-producto-detalles {
        margin-top: 3vw;
        font-size: 3vw;
        margin-bottom: 6vw;
    }
    .div-boton-comprar {
        margin-top: 3vw;
    }
    .boton-comprar-producto {
        font-size: 1.3vw;
    }
    .icono-carousel {
        display: none;
    }
    #reportarProblema {
        display: none;
    }
    .boton-comprar-producto {
        align-items: center;
        width: 20%;
        font-size: 2vw;
    }
    .anclas-opciones {
        font-size: 3vw;
        font-weight: 300;
    }
    li {
        font-weight: 300;
    }
    .texto-ocultar h5 {
        text-align: left;
        font-size: 3vw;
        padding-left: 1vw;
        font-weight: 400;
    }
    .contenedor-texto-ocultar {
        height: auto;
    }
    .condiciones-del-cupon {
        font-size: 2vw;
    }
    .imagen-comentario-producto {
        width: 20%;
    }
    .imagen-comentario-producto img{
        width: 70% !important;
    }
    .texto-comentario-producto {
        width: 80%;
    }
    .texto-comentario-producto div{
        font-size: 3vw;
    }
    .texto-comentario-producto p{
        font-size: 2.3vw;
    }
    .barra-informacion-vendedor {
        text-align: left;
        margin-left: 1vw;
        margin-top: 1vw;
    }
    .barra-informacion-vendedor h6{
        font-weight: 300;
        padding-left:2vw;
        margin: 0vw;
    }
    .barra-informacion-vendedor p{
        font-size: 2vw;
        margin-bottom: 0vw;
        padding-left:2vw;
    }
    .barra-informacion-vendedor a{
        font-size: 2vw;
        margin-bottom: 0vw;
        color: #09F;
        padding-left:2vw;
    }

    .div-mapa {
        height: 50vw;
    }
    iframe {
        height: 40vw !important;
        width: 100% !important;
    }

}