#control-next-carousel{
    justify-content: flex-start;
}

.imagenes-carousel {
    height: 27vw;
    width: 40vw;
}

.precios-producto-detalles {
    align-items: center;
    font-size: 1.6vw;
}

#precio-final-detalles {
    font-size: 2.2vw;
    text-align: right;
}

.informacion-producto {
    display: flex;
    align-items: center;
    font-size: 2vw;
    font-family: 'Open Sans Condensed';
}

#precio-compra {
    font-size: 2vw;
    text-align: right;
    font-weight: 600;
}

.checked {
    color: orange;
}

a {
    cursor:pointer;
}

.boton-comprar-producto {
    font-family: revert;
    width: 100%;
    background: #F21B6D;
    color: whitesmoke;
}

.icono-carousel {
    padding: 1vw;
    border-radius: 50%;
}

.normal-thumbnail-carousel img{
    width: 7vw;
    height: 7vw;

}

.normal-thumbnail-carousel img:hover {
    border: 3px solid #F21B6D;
}

.barra-opciones-producto {
    margin-top: 3vw;
}

.navegador-condiciones-productos {
    padding: 0;
    background-color: #F7F6F2;
    border-bottom: 1px solid gray;
}

.ul-opciones-producto {
    width: 100%;
    justify-content: start;
}

.ul-opciones-producto a {
    margin: 0vw 2vw;
    padding: 1vw 2vw;
    font-size: larger;
}

.anclas-opciones:hover {
    background-color: white;
}

