/*  SELECCION DE COLORES GENERALES Y TIPOGRAFIA (26/05/20)

    Colores:
        Rosa principal: #F21B6D 
        Negro Navbar: #1C2229
        Fondo subNavbar: #F7F6F2
        Fondo cards: #F7F6F2
        Color de separación complementaria suave: #BAC1B8
        Color de separación complementaria fuerte: #02A669

    Fuente principal: 
        font-family: 'Open Sans Condensed', sans-serif;
        weight: 300 - 700;
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap" rel="stylesheet">

*/
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ancla-editar img {
    width: 1.7vw;
    position: absolute;
    right: 0.5vw;
    top: 1rem;
    z-index: 999;
}

    .ancla-editar img:hover {
        width: 2.3vw;
        transition: width 0.3s linear;
    }

.div-datos-usuario {
    justify-content: space-around;
}

    .div-datos-usuario p {
        font-size: 1.6vw;
        background-color: #A5ADB6;
        margin: 0.8rem 0rem;
        color: white;
        padding: 0px 6px;
    }

.mis-datos {
    background-color: #F7F6F2;
    border-radius: 5%;
}

    .mis-datos h3 {
        color: #F21B6D;
        margin: 0px;
        padding: 1rem 0rem;
    }


    /*vendedor*/

.div-datos-vendedor {
    justify-content: space-around;
}

    .div-datos-vendedor p {
        font-size: 1.6vw;
        background-color: #A5ADB6;
        margin: 0.8rem 0rem;
        color: white;
        padding: 0px 6px;
    }

.datos-vendedor {
    background-color: #F7F6F2;
    border-radius: 5%;
}

    .datos-vendedor h3 {
        color: #F21B6D;
        margin: 0px;
        padding: 1rem 0rem;
    }
