@using Microsoft.AspNetCore.Identity
@using DEFINITIVO.Services
@inject UserManager<IdentityUser> UserManager
@inject SignInManager<IdentityUser> SignInManager
@inject MessagesService MessagesService
@{
    ViewData["Title"] = "Contacto";
    IdentityUser activeUser = await UserManager.GetUserAsync(User);
}

<link href="~/css/Contacto.css" rel="stylesheet" type="text/css">

<div class="row">
    <div class="col-lg-12 col-xl-12">
        <div class="caja-contacto">
            <h2>¿Cómo podemos ayudarte?</h2>
            <hr />
            <form asp-controller="Home" asp-action="Contacto" method="post">
                <div class="row div-formulario-contacto">
                    <input minlength="3" name="nombreContacto" placeholder="Introduce tu nombre*" class="col-lg-6 col-xl-6 offset-lg-3 offset-xl-3" />
                </div>
                <div class="row div-formulario-contacto">
                    <input minlength="9" name="telefonoContacto" pattern="[0-9]{9}" placeholder="Teléfono" class="col-lg-6 col-xl-6 offset-lg-3 offset-xl-3" />
                </div>
                <div class="row div-formulario-contacto">
                    <input minlength="4" name="emailContacto" type="email" placeholder="Tu dirección de correo electrónico*" class="col-lg-6 col-xl-6 offset-lg-3 offset-xl-3" />
                </div>
                <div class="row div-formulario-contacto">
                    <input name="asuntoContacto" placeholder="Asunto*" class="col-lg-6 col-xl-6 offset-lg-3 offset-xl-3">
                </div>
                <div class="row div-formulario-contacto">
                    <textarea minlength="12" name="mensajeContacto" placeholder="Somos todo oídos &#128037" class="col-lg-6 col-xl-6 offset-lg-3 offset-xl-3" rows="9"></textarea>
                </div>
                <button class="col-lg-2 col-xl-2 offset-lg-5 offset-xl-5 boton-enviar-formulario">Enviar formulario</button>
            </form>
        </div>
    </div>
</div>