
@{
    ViewData["Title"] = "FAQ";
}

<div>
    <h1>
        FAQ <small>Preguntas Frecuentes</small>
    </h1>
</div>
<div class="row">
    <div id="faq" class="col-md-9">
        <div class="panel-group" id="accordionFAQ">
            <!-- Pregunta número 1-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionFAQ"
                           href="#collapse-1">
                            Primera pregunta frecuente
                        </a>
                    </h4>
                </div>
                <div id="collapse-1" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa
                            nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                            single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
                        </p>
                    </div>
                    <div class="panel-footer">
                        <div class="btn-group btn-group-xs"><span class="btn">¿Te ha sido útil esta pregunta?</span><a class="btn btn-success" href="#"><i class="fa fa-thumbs-up"></i> Si</a> <a class="btn btn-danger" href="#"><i class="fa fa-thumbs-down"></i> No</a></div>
                        <div class="btn-group btn-group-xs pull-right"><a class="btn btn-primary" href="#">Reporta esta pregunta</a></div>
                    </div>
                </div>
            </div>
            <!-- Pregunta número 2-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionFAQ"
                           href="#collapse-2">
                            Segunda  pregunta frecuente
                        </a>
                    </h4>
                </div>
                <div id="collapse-2" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa
                            nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                            single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
                        </p>
                    </div>
                    <div class="panel-footer">
                        <div class="btn-group btn-group-xs"><span class="btn">¿Te ha sido útil esta pregunta?</span><a class="btn btn-success" href="#"><i class="fa fa-thumbs-up"></i> Si</a> <a class="btn btn-danger" href="#"><i class="fa fa-thumbs-down"></i> No</a></div>
                        <div class="btn-group btn-group-xs pull-right"><a class="btn btn-primary" href="#">Reporta esta pregunta</a></div>
                    </div>
                </div>
            </div>
            <!-- Pregunta número 3-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionFAQ"
                           href="#collapse-3">
                            Tercera  pregunta frecuente
                        </a>
                    </h4>
                </div>
                <div id="collapse-3" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa
                            nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                            single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
                        </p>
                    </div>
                    <div class="panel-footer">
                        <div class="btn-group btn-group-xs"><span class="btn">¿Te ha sido útil esta pregunta?</span><a class="btn btn-success" href="#"><i class="fa fa-thumbs-up"></i> Si</a> <a class="btn btn-danger" href="#"><i class="fa fa-thumbs-down"></i> No</a></div>
                        <div class="btn-group btn-group-xs pull-right"><a class="btn btn-primary" href="#">Reporta esta pregunta</a></div>
                    </div>
                </div>
            </div>
            <!-- Pregunta número 4-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionFAQ"
                           href="#collapse-4">
                            Cuarta  pregunta frecuente
                        </a>
                    </h4>
                </div>
                <div id="collapse-4" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa
                            nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                            single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
                        </p>
                    </div>
                    <div class="panel-footer">
                        <div class="btn-group btn-group-xs"><span class="btn">¿Te ha sido útil esta pregunta?</span><a class="btn btn-success" href="#"><i class="fa fa-thumbs-up"></i> Si</a> <a class="btn btn-danger" href="#"><i class="fa fa-thumbs-down"></i> No</a></div>
                        <div class="btn-group btn-group-xs pull-right"><a class="btn btn-primary" href="#">Reporta esta pregunta</a></div>
                    </div>
                </div>
            </div>
            <!-- Última pregunta. Acceso al formulario de contacto-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionFAQ"
                           href="#collapse-last">
                            ¿Tienes más dudas?
                        </a>
                    </h4>
                </div>
                <div id="collapse-last" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa
                            nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                            single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
                        </p>
                    </div>
                    <div class="panel-footer">
                        <div class="btn-group btn-group-xs"><span class="btn">¿Te ha sido útil esta pregunta?</span><a class="btn btn-success" href="#"><i class="fa fa-thumbs-up"></i> Si</a> <a class="btn btn-danger" href="#"><i class="fa fa-thumbs-down"></i> No</a></div>
                        <div class="btn-group btn-group-xs pull-right"><a class="btn btn-primary" href="#">Reporta esta pregunta</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <p class="lead">Accesos Rápidos</p>
        <div class="list-group">
            <a asp-controller="Home" asp-action="Heldu" class="list-group-item">¿Qué es Heldu?</a>
            <a asp-controller="Home" asp-action="Funcionamiento" class="list-group-item">¿Cómo Funciona Heldu?</a>
            <a asp-controller="Home" asp-action="Contacto" class="list-group-item">Contáctanos</a>
        </div>
    </div>
</div>
