@{
    ViewData["Title"] = "Heldu";
}

<!-- CSS particular para esta vista. Los script están en el layout-->
<link href="~/css/Home_Heldu.css" rel="stylesheet" type="text/css"/>


<div class="how-section1">
    <div class="row">
        <div class="col-md-6 how-img">
            <img src="https://images.unsplash.com/photo-1580893246395-52aead8960dc" class="rounded-circle img-fluid" alt="" />
        </div>
        <div class="col-md-6 claims" id="firstClaim">
            <h4 class="heading">¿Qué es Heldu?</h4>
            <h4 class="subheading">La web con descuentos en miles de productos!</h4>
            <p class="copies">
                Heldu es una plataforma web que permite a las personas en situación de desempleo acceder a productos y servicios de todo tipo a precios reducidos. 
                Somos parte de la nueva economía, con compromiso social y orientados al desarrollo de nuestra comunidad, aportando nuestra parte en la generación de equidad.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 claims" id="secondClaim">
            <h4 class="heading">¿Cuál es el propósito de Heldu?</h4>
            <h4 class="subheading">Una sociedad más equitativa!</h4>
            <p class="copies">
                Heldu busca reducir el impacto del gasto normal y frecuente de personas desempleadas, a la vez que permite el acceso a nuevos productos y servicios que sin un descuento serían de dificil adquisición.
                Por otro lado, permitimos a los empresarios comprometidos con el desarrollo de la sociedad, canalizar su aporte a través de una plataforma dirigida exclusivamente a quienes atraviesan una etapa dificil como es estar desempleado.
            </p>
        </div>
        <div class="col-md-6 how-img">
            <img src="https://images.unsplash.com/photo-1518065896235-a4c93e088e7a" class="rounded-circle img-fluid" alt="" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 how-img">
            <img src="https://images.unsplash.com/photo-1533561797500-4fad4750814e" class="rounded-circle img-fluid" alt="" />
        </div>
        <div class="col-md-6 claims" id="thirdClaim">
            <h4 class="heading">Algo bueno para la sociedad</h4>
            <h4 class="subheading">With GetLance, you have the freedom and flexibility to control when, where, and how you work</h4>
            <p class="copies">
                Send and receive files. Deliver digital assets in a secure environment.
                Share feedback in real time. Use GetLance Messages to communicate via text, chat, or video.
                Use our mobile app. Many features can be accessed on your mobile phone when on the go.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 claims" id="fourthClaim">
            <h4 class="heading">¿Quiénes hacen Heldu?</h4>
            <h4 class="subheading">Un equipo de soñadores</h4>
            <p class="copies">
                Somos un equipo de personas inquietas, con sed de nuevos desafíos y buscando dejar nuestra huella.
                Queremos que Heldu ayude a las personas que atraviesan una situación de deesmpleo, por lo que no buscamos <i>fidelizar</i> clientes ni propiciar compras innecesarias.

            </p>
        </div>
        <div class="col-md-6 how-img">
            <img src="https://cdn.pixabay.com/photo/2018/03/10/12/00/paper-3213924_1280.jpg" class="rounded-circle img-fluid" alt="" />
        </div>
    </div>
</div>