@{
    ViewData["Title"] = "Heldu";
}

<!-- CSS particular para esta vista. Los script están en el layout-->
<link href="~/css/Home_Heldu.css" rel="stylesheet" type="text/css"/>


<div class="how-section1">
    <div class="row">
        <div class="col-md-4 how-img">
            <img src="https://images.unsplash.com/photo-1580893246395-52aead8960dc" class="rounded-circle img-fluid" alt="" />
        </div>
        <div class="col-md-8 claims" id="firstClaim">
            <h4 class="heading">¿Qué es Heldu?</h4>
            <h4 class="subheading">Heldu es una plataforma web con ofertas para personas en situación de desempleo.</h4>
            <p class="copies">
                Ofrecemos a las personas en situación de desempleo acceder a productos y servicios de todo tipo a precios reducidos.
                Somos parte de la nueva economía, con compromiso social y orientados al desarrollo de nuestra comunidad, aportando nuestra parte en la generación de equidad.
            </p>
            <p>Ofrecemos precios reducidos para que el desempleo no suponga una pérdida de clientes habituales para los negocios locales.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 how-img">
            <img src="https://images.unsplash.com/photo-1533561797500-4fad4750814e" class="rounded-circle img-fluid" alt="" />
        </div>
        <div class="col-md-8 claims" id="seconddClaim">
            <h4 class="heading">¿Por qué surge Heldu?</h4>
            <h4 class="subheading"><i>Ambos conocemos el desempleo</i></h4>
            <p class="copies">
                Heldu nace desde la necesidad propia: ambos fundadores hemos sido desempleados de larga duración y conocemos sus consecuencias.
            </p>
            <p class="copies">
                Sabemos lo que supone vivir mirando la cuenta bancaria y preocupado/a por llegar a fin de mes y ahí nace nuestra motivación:
            <strong>aliviar al colectivo desempleado</strong>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 claims" id="thirdClaim">
            <h4 class="heading">¿Cómo ayud Heldu?</h4>
            <h4 class="subheading">Heldu ayuda a la persona y al comerciante</h4>
            <p class="copies">
                Colaboramos en el impulso de la economía local mediante un modelo de emprendizaje social sostenible.
            </p>
            <p class="copies"><strong>La persona</strong></p>
            <p class="copies">
                Ofrecemos un descuento en los productos de consumo diario generando un ahorro en los gastos diarios a la vez que permitimos mantener un nivel de consumo habitual.
            </p>
            <p class="copies"><strong>El comercio</strong></p>
            <p class="copies">
                Fortalecemos la relación con los clientes ya existentes y aumentamos la visibilidad hasta un 20% en nuevos consumidores.
            </p>
        </div>
        <div class="col-md-4 how-img">
            <img src="https://images.unsplash.com/photo-1518065896235-a4c93e088e7a" class="rounded-circle img-fluid" alt="" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 claims" id="fourthClaim">
            <h4 class="heading">¿Quiénes hacen Heldu?</h4>
            <h4 class="subheading">Un equipo de soñadores</h4>
            <p class="copies">
                El equipo de Heldu lo componemos Galo García y Jon Ander Fidalgo.
            </p>
            <p class="copies">
                A ambos nos une un mismo sueño: desarrollar un modelo de emprendizaje social sostenible que genere un impacto positivo en nuestra realidad.
            </p>
        </div>
        <div class="col-md-4 how-img">
            <img src="https://cdn.pixabay.com/photo/2018/03/10/12/00/paper-3213924_1280.jpg" class="rounded-circle img-fluid" alt="" />
        </div>
    </div>
</div>