@{
    ViewData["Title"] = "Conócenos";
}

<!-- CSS particular para esta vista. Los script están en el layout-->
<link href="~/css/Home_Heldu.css" rel="stylesheet" type="text/css" />

<div class="how-section1">
    <div class="row">
        <div class="col-md-4 how-img">
            <img src="https://image.flaticon.com/icons/svg/2945/2945609.svg" class="img-fluid" alt="¿Qué es Heldu?" />
        </div>
        <div class="col-md-8 claims" id="firstClaim">
            <h4 class="heading">¿Qué es Heldu?</h4>
            <h4 class="subheading">"Heldu es una plataforma web con ofertas para personas en situación de desempleo"</h4>
            <p class="copies">
                Ofrecemos a las personas en situación de desempleo, acceder a productos y servicios de todo tipo a precios reducidos.
                Somos parte de la nueva economía, con compromiso social y orientados al desarrollo de nuestra comunidad, aportando nuestra parte en la generación de equidad.
            </p>
            <p class="copies">Mediante la aplicación de grandes descuentos, ayudamos a que el desempleo no suponga una pérdida de clientes habituales para los negocios locales.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 claims" id="seconddClaim">
            <h4 class="heading">¿De dónde surge Heldu?</h4>
            <h4 class="subheading">"Ambos sabemos qué es estar desempleado"</h4>
            <p class="copies">
                Heldu nace desde la necesidad propia: ambos fundadores hemos sido desempleados de larga duración, y conocemos sus consecuencias.
            </p>
            <p class="copies">
                Sabemos lo que supone vivir mirando la cuenta bancaria y preocupado/a por llegar a fin de mes. De ahí nace nuestra motivación:
                <i>aliviar al colectivo desempleado</i>
            </p>
        </div>
        <div class="col-md-4 how-img">
            <img src="https://image.flaticon.com/icons/png/512/2883/2883771.png" class="img-fluid" alt="¿De dónde surge?" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 how-img">
            <img src="https://image.flaticon.com/icons/svg/3004/3004601.svg" class="img-fluid" alt="¿Cómo ayuda Heldu?" />
        </div>
        <div class="col-md-8 claims" id="thirdClaim">
            <h4 class="heading">¿Cómo ayuda Heldu?</h4>
            <h4 class="subheading">"Heldu funciona ayudando a la persona y al comercio local"</h4>
            <p class="copies">
                Colaboramos en el impulso de la economía local mediante un modelo de emprendizaje social responsable y sostenible.
            </p>
            <p class="copies"><i>La persona</i></p>
            <p class="copies">
                Ofrecemos un descuento en productos y servicios, generando un ahorro en los gastos diarios a la vez que permitimos mantener un nivel de consumo habitual.
            </p>
            <p class="copies"><i>El comercio</i></p>
            <p class="copies">
                Fortalecemos la relación con los clientes ya existentes y aumentamos la visibilidad hasta un 20% en nuevos consumidores.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 claims" id="fourthClaim">
            <h4 class="heading">¿Quiénes hacen Heldu?</h4>
            <h4 class="subheading">Un equipo de soñadores</h4>
            <p class="copies">
                El equipo de Heldu lo componemos Galo García Pugliese y Jon Ander Fidalgo.
            </p>
            <p class="copies">
                Nos une un mismo sueño: desarrollar un modelo de emprendizaje social sostenible que genere un impacto positivo en nuestra realidad.

            </p>
        </div>
        <div class="col-md-2 offset-1 how-img-equipo">
            <a href="https://www.linkedin.com/in/galo-garcia-pugliese/"><img src="~/img/Galo-colorido.png" class="img-fluid" alt="perfil de linkedin" /></a>
        </div>
        <div class="col-md-2 offset-1 how-img-equipo">
            <a href="https://www.linkedin.com/in/jon-ander-fidalgo/"><img src="~/img/recortada.png" class="img-fluid" alt="perfil de linkedin" /></a>
        </div>
    </div>
    <div class="row">
        <a class="btn offset-2 col-8" id="continuarNav" asp-action="Index2" asp-controller="Productos">Continuar navegando!</a>
    </div>
    <div class="col-8" id="notesSection">
        <p id="notesTitle" class="row">Notas beta-rollout jun-2020:</p>
        <p class="notes row">- En esta etapa el sitio se encuentra únicamente en castellano.</p>
        <p class="notes row">- Algunas secciones se encuentran deshabilitadas.</p>
        <p class="notes row">- Algunas secciones podrían tardar en cargar más de lo habitual.</p>
        <p class="notes row">- Los productos, servicios y empresas no son reales</p>
    </div>
</div>