@{
    ViewData["Title"] = "Beta";
}

﻿<link href="~/css/Landing_Beta.css" rel="stylesheet" type="text/css">

<div class="row">
    <div class="col-6 divLandingBeta">
        <h1>Ongi etorri Heldura</h1>
        <h3>Beta rollout (Jun 2020)</h3>
        <br />
        <p>Lehenik eta behin, mila esker berriz ere Helduren garapen prozesuan parte hartzeagatik!</p>
        <p>Garapena bizkortzeko, aplikazio osoa gazteleraz dagoela jakinarazi nahi genizuke aldez aurretik.</p>
        <br />
        <br />
        <br />
    </div>
    <div class="col-6 divLandingBeta">
        <h1>Bienvenido/a a Heldu</h1>
        <h3>Beta rollout (Jun 2020)</h3>
        <br />
        <p>Antes de nada, ¡muchas gracias de nuevo por formar parte del proceso de desarrollo de Heldu!</p>
        <p>Para acelerar el desarrollo, nos gustaría informarte de que toda la aplicación está en castellano.</p>
        <br />
        <br />
        <br />
    </div>
    <h4 class="offset-4">Para continuar, haz click <a asp-action="Index2" asp-controller="Productos" style="font-weight:600; color:#F21B6D;">Aquí</a></h4>
</div>