@{
    ViewData["Title"] = "Conócenos";
}

<!-- CSS particular para esta vista. Los script están en el layout-->
<link href="~/css/Landing_mvp.css" rel="stylesheet" type="text/css" />

<div class="pt-4">
    <h1>¡Bienvenid&#x00040 a Heldu!</h1>
    <div class="row">
        <div class="col-md-6 how-img">
            <img src="https://image.flaticon.com/icons/svg/2945/2945609.svg" class="img-fluid" alt="¿Qué es Heldu?" />
        </div>
        <div class="col-md-6" id="firstClaim">
            <p class="copies">
                Somos el portal de cupones con descuento para desempleados/as, y estamos aquí para ayudar.
            </p>
            <ul class="lista-landing-page">
                <li>Conocemos el desempleo: nacemos porque estando desempleados hemos visto la inexistencia de ofertas para presupuestos reducidos, y obtener esas ofertas es nuestra misión.</li>
                <li>Ayudamos a quien ayuda: anuncia tus productos y/o servicios con un coste muy reducido.</li>
            </ul>
        </div>
    </div>
    <div class="row pb-4">
        <div class="col-6 offset-6 call-to-action-landing">
            <p>...suena bien?</p>
            <a class="btn" id="continuarNav" asp-action="Index2" asp-controller="Productos">Explorar Heldu</a>
        </div>
    </div>
</div>