@{
    ViewData["Title"] = "Conócenos";
}

<!-- CSS particular para esta vista. Los script están en el layout-->
<link href="~/css/Landing_mvp.css" rel="stylesheet" type="text/css" />

<div class="">
    <h1>¡Bienvenid&#x00040 a Heldu!</h1>
    <div class="row">
        <div class="col-md-6 how-img">
            <img src="https://image.flaticon.com/icons/svg/2945/2945609.svg" class="img-fluid" alt="¿Qué es Heldu?" />
        </div>
        <div class="col-md-6 claims" id="firstClaim">
            <p class="copies">
                Somos el portal de cupones descuento para desempleados/as, y estamos aquí para ayudar.
            </p>
            <ul class="lista-landing-page">
                <li>Conocemos el paro: ponemos a tu disposición una gran variedad de ofertas con un alto descuento aplicado.</li>
                <li>Ayudamos a quien ayuda: anuncia tus productos y/o servicios con un coste muy reducido.</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-6 offset-6 call-to-action-landing">
            <p>...¿suena bien?</p>
            <a class="btn" id="continuarNav" asp-action="Index2" asp-controller="Productos">Explorar Heldu</a>
        </div>
    </div>
    @*<div class="col-8" id="notesSection">
            <p id="notesTitle" class="row">Notas beta-rollout jun-2020:</p>
            <p class="notes row">- En esta etapa el sitio se encuentra únicamente en castellano.</p>
            <p class="notes row">- Algunas secciones se encuentran deshabilitadas.</p>
            <p class="notes row">- Algunas secciones podrían tardar en cargar más de lo habitual.</p>
            <p class="notes row">- Los productos, servicios y empresas no son reales</p>
        </div>*@
</div>