
    <div class="divLandingBeta">

        <h1>Bienvenido/a a Heldu</h1>
        <h3>Beta rollout (Jun 2020)</h3>
        <br />
        <p>¡Gracias por ser parte del desarrollo de Heldu!</p>
        <br />
        <br />
        <br />
        <h4>Para continuar, haz click <a asp-action="Index2" asp-controller="Productos">Aquí</a></h4>

    </div>