@model Heldu.Entities.Models.Vendedor

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Empresa";
}
<link href="~/css/Usuarios_MiPerfilPV.css" rel="stylesheet" type="text/css">

<div class="col-3" id="menu-izquierda">
    <img id="imagen-vendedor-pv" src="https://image.flaticon.com/icons/svg/609/609752.svg" />
    <br />
    <div class="botones-PV">
        <a asp-action="Miperfil" asp-route-id="@Model.Id" class="btn">Mi Perfil</a>
    </div>
    <div class="botones-PV">
        <a asp-action="Misproductos" asp-route-id="@Model.Id" class="btn">Productos</a>
    </div>
    <div class="botones-PV">
        <a asp-action="Estadisticas2" asp-route-id="@Model.Id" class="btn">Estadísticas</a>
    </div>
    <div class="botones-PV">
        <a asp-action="Opiniones2" asp-route-id="@Model.Id" class="btn">Opiniones</a>
    </div>
    <div class="botones-PV">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="usuario-saliendo">
            <button type="submit" class="btn btn-danger">SALIR</button>
        </form>
    </div>
</div>
