@model Heldu.Logic.ViewModels.VendedorUbicacionVM
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Alta Vendedor";
}
<script src="~/js/CPVendedorCreate.js"></script>

<h3>¡Bienvenido/a a Heldu!</h3>
<br />
<p>Cada vez más gente en situación de desempleo puede manteniener hábitos de consumo gracias a gente como tú.</p>
<p>Todos los campos marcados con * son <strong>obligatorios</strong></p>
<hr />
<br />
<h4>Nos gustaría conocer mejor tu negocio</h4>
<br />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="vendedor.CIF" class="control-label">CIF de la Empresa*</label>
                <input asp-for="vendedor.CIF" class="form-control" />
                <span asp-validation-for="vendedor.CIF" class="text-danger"></span>
            </div>             
            <div class="form-group">
                <label asp-for="vendedor.NombreDeEmpresa" class="control-label">¿Cuál es el nombre de la empresa?*</label>
                <input asp-for="vendedor.NombreDeEmpresa" class="form-control" />
                <span asp-validation-for="vendedor.NombreDeEmpresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vendedor.IBAN" class="control-label">IBAN*</label>
                <input asp-for="vendedor.IBAN" id="inputIBAN" class="form-control" required placeholder="ES1200009999556633331111" />
                <span asp-validation-for="vendedor.IBAN" id="spanIBAN" class="text-danger"></span>
                <span><button class="btn btn-primary" disabled id="btnValidar">Validar IBAN</button></span>
            </div>            
            <div class="d-none">
                <label asp-for="ubicacion.Pais" class="control-label"></label>
                <input type="text" asp-for="ubicacion.Pais" class="form-control" placeholder="España" value="España"/>
                <span asp-validation-for="ubicacion.Pais" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-3">
                    <label asp-for="ubicacion.CP" class="control-label">Código Postal*</label>
                    <input id="codigoPostal" type="text" minlength="5" maxlength="5" asp-for="ubicacion.CP" class="form-control" />
                    <span asp-validation-for="ubicacion.CP" class="text-danger"></span>
                </div>
                <div class="col-3">
                    <label asp-for="ubicacion.CCAA" class="control-label">CCAA*</label>
                    <input id="comunidadAutonoma" type="text" asp-for="ubicacion.CCAA" class="form-control" />
                    <span asp-validation-for="ubicacion.CCAA" class="text-danger"></span>
                </div>
                <div class="col-6" style="display: flex;align-items: end;">
                    <select id="poblacion" asp-for="ubicacion.Poblacion" class="form-control col-6"></select>
                    @*<label asp-for="Ciudad" class="control-label">Ciudad*</label>
            <input asp-for="Ciudad" class="form-control" />
            <span asp-validation-for="Ciudad" class="text-danger"></span>*@
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <label asp-for="ubicacion.Calle" class="control-label">Dirección de la calle*</label>
                    <input placeholder="ej: Avenida Urquijo" asp-for="ubicacion.Calle" class="form-control" required/>
                    <span asp-validation-for="ubicacion.Calle" class="text-danger"></span>
                </div>
                <div class="col-2">
                    <label asp-for="ubicacion.Numero" class="control-label">Nº*</label>
                    <input asp-for="ubicacion.Numero" placeholder="3134" class="form-control" required/>
                    <span asp-validation-for="ubicacion.Numero" class="text-danger"></span>
                </div>
                <div class="col-2">
                    <label asp-for="ubicacion.Letra" class="control-label">Letra</label>
                    <input placeholder="A,B." asp-for="ubicacion.Letra" class="form-control" />
                    <span asp-validation-for="ubicacion.Letra" class="text-danger"></span>
                </div>
            </div>
            <div>
                <label asp-for="vendedor.Telefono" class="control-label">Teléfono de contacto*</label>
                <input type="text" minlength="9" maxlength="9" asp-for="vendedor.Telefono" class="form-control" required/>
                <span asp-validation-for="vendedor.Telefono" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="vendedor.Paginaweb" class="control-label">Página web</label>
                <input asp-for="vendedor.Paginaweb" class="form-control" />
                <span asp-validation-for="vendedor.Paginaweb" class="text-danger"></span>
            </div>
            <br />
            <h4>Y para terminar, nos gustaría saber algo más acerca de ti</h4>
            <br />
            <p>
                <i>
                    ¿Sabías que los negocios con descripción fidelizan hasta un <strong>47% más</strong>
                    que los negocios sin ella?
                </i>
            </p>
            <div>
                <label asp-for="vendedor.DescripcionEmpresa" class="control-label">Descripción de empresa*</label>
                <input asp-for="vendedor.DescripcionEmpresa" class="form-control" required textmode="multiline"/>
                <span asp-validation-for="vendedor.DescripcionEmpresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="vendedor.IdentityUserId" class="form-control" value="@UserManager.GetUserId(User)" />
            </div>            
            <div class="form-group">
                <input type="hidden" asp-for="vendedor.Fee" class="form-control" value="22" />
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
