@model Heldu.Entities.Models.Vendedor

@using Microsoft.AspNetCore.Identity
@using Heldu.Logic.ViewModels

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<div>
    <div class="row">
        <h3 class="col-4 offset-4">Estadísticas</h3>
    </div>
    <div class="row">
        <partial name="_MiperfilPV" model="Model" />
        @*Cuadro blanco*@
        <div class="col-7 offset-1" style="width: 66%;background-color: white;">
            <canvas id="myChart"></canvas>
        </div>
    </div>
</div>


<script>
        var ctx = document.getElementById('myChart').getContext('2d');
        Chart.defaults.global.defaultFontSize = 18;
        var myChart = new Chart(ctx, {
            type: 'horizontalBar',
            data: {
                labels: [
                    @foreach(ProductoVendedor productoVendedor in Model.ProductoVendedor)
                    {
                        string titulo = productoVendedor.Producto.Titulo;
                        string abreviatura = titulo.Substring(0, 8);
                        abreviatura.Insert(7, ".");
                        <text>'</text>@abreviatura<text>',</text>
                    }
                ],
                datasets: [{
                    label: 'visitas/producto',
                    data: [
                        @{
                            foreach (CantidadVisitasProductoVM productoVisto in ViewBag.VisitasPorProducto)
                            {
                                <text>'</text>@productoVisto.cantidadVisitas<text>',</text>
                            }
                        }
                    ],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
</script>