@model DEFINITIVO.Models.Vendedor

@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div>
    <div class="row">
        <h3 class="col-4 offset-4">Estadísticas</h3>
    </div>
    <div class="row">
        <partial name="_MiperfilPV" model="Model" />
        @*Cuadro blanco*@
        <div class="col-7 offset-1" style="width: 66%;background-color: white;">
            <canvas id="myChart" width="100%" height="80%"></canvas>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    Chart.defaults.global.defaultFontSize = 18;
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [
                @foreach(ProductoVendedor productoVendedor in Model.ProductoVendedor)
                {
                    <text>'</text>@productoVendedor.Producto.Titulo<text>',</text>
                }
            ],
            datasets: [{
                label: 'nº de ventas',
                data: [12, 19, 3, 5],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });</script>
