<h1 style="text-align: center; margin-top:8%;">Te has inscrito satisfactoriamente</h1>
<br />
<br />
@*<form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="saleYEntra">
        <p>Heldu hace posible mejorar la vida de personas en una situación complicada gracias a gente como tú</p>
        <button style="border: 1px solid;" type="submit" class="nav-link btn btn-link textType2">Salir</button>
    </form>*@
<div>
    <h3>Has completado tu registro con éxito</h3>
    <h4>
        Haz click en <a asp-action="Index2" asp-controller="Productos">  CONTINUAR  </a> y podrás ingresar desde el menú superior
    </h4>
    
</div>
