@model Heldu.Entities.Models.Vendedor

@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<link href="/css/Vendedores_MisProductos.css" rel="stylesheet" type="text/css">
<script defer src="/js/Vendedores_Productos.js"></script>
<div class="cuadro-vendedor">
    <div class="row">
        <h3 class="col-4 offset-4">Mis productos</h3>
        <a class="col-3" asp-controller="Productos" asp-action="Create" asp-route-id="1" style="text-align:right;">Crear nuevo<img style="max-width:10%;" align="right" src="https://image.flaticon.com/icons/svg/1042/1042340.svg" /></a>
    </div>
    <div class="row">
        <partial name="_MiperfilPV" model="Model" />
        <div class="col-7 offset-1" style="width: 66%;background-color: white;">
            <div class="row">
                @if (Model.ProductoVendedor.Count != 0)
                {
                    @foreach (ProductoVendedor productoVendedor in Model.ProductoVendedor)
                    {
                        <div class="card col-sm-4">
                            <img class="card-img-top" src="~/Productos/GetImage1/@productoVendedor.Producto.Id" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title titulo-producto">@productoVendedor.Producto.Titulo</h5>
                                <p class="card-text descripcion-producto">@productoVendedor.Producto.Descripcion</p>
                                <p class="card-text fecha-producto">@productoVendedor.Producto.FechaValidez</p>
                                <div class="row precio-card-productos">
                                    <p class="card-text precio-inicial">ver en detalle</p>
                                    <p class="card-text precio-final">próximamente</p>
                                </div>
                            </div>
                        </div>
                    }
                }
                <div class="card col-sm-4">
                    <img class="card-img-top" src="https://cdn.vitalisestetica.es/wp-content/uploads/2019/03/Tratamiento-facial-hombres-3.jpg" alt="2 sesiones de tratamiento facial">
                    <div class="card-body">
                        <h5 class="card-title titulo-producto">2 sesiones de tratamiento facial para hombre</h5>
                        <p class="card-text descripcion-producto">Cepillo exfoliante Espuma de limpieza Punta de diamante Máscara secativa Máscara final según biotipo de piel</p>
                        <p class="card-text fecha-producto">Expira: 27/07/2020</p>
                        <div class="row precio-card-productos">
                            <p class="card-text precio-inicial">Precio inicial: </p>
                            <p class="card-text precio-final">60 &#8364;</p>
                        </div>
                        <div class="row precio-card-productos">
                            <p class="card-text precio-inicial">Precio final: </p>
                            <p class="card-text precio-final">31 &#8364;</p>
                        </div>
                    </div>
                </div>
                <div class="card col-sm-4">
                    <img class="card-img-top" src="https://i2.wp.com/digitalpolicylaw.com/wp-content/uploads/2020/02/dplnews_bigdata_cv.jpg?fit=1024%2C682&ssl=1" alt="Curso de Big Data">
                    <div class="card-body">
                        <h5 class="card-title titulo-producto">Curso de Big Data</h5>
                        <p class="card-text descripcion-producto">Con acceso las 24 horas donde se entregará un título propio con certificación académica del Inn Formación</p>
                        <p class="card-text fecha-producto">Expira: 03/11/2020</p>
                        <div class="row precio-card-productos">
                            <p class="card-text precio-inicial">Precio inicial: </p>
                            <p class="card-text precio-final">950 &#8364;</p>
                        </div>
                        <div class="row precio-card-productos">
                            <p class="card-text precio-inicial">Precio final: </p>
                            <p class="card-text precio-final">31 &#8364;</p>
                        </div>
                    </div>
                </div>
                <div class="card col-sm-4">
                    <img class="card-img-top" src="https://image.freepik.com/foto-gratis/hamburguesa-casera-ternera-cebolla-tomate-lechuga-queso-hamburguesa-fresca-cerca-mesa-rustica-madera-papas-fritas-cerveza-patatas-fritas-hamburguesa-queso_107989-205.jpg" alt="Hamburguesa + patatas fritas">
                    <div class="card-body">
                        <h5 class="card-title titulo-producto">Hamburguesa + patatas fritas + pinta de cerveza artesanal</h5>
                        <p class="card-text descripcion-producto">Hamburguesa con papas fritas tomate natural + jamón crudo + tortilla + morrones verdes fritos</p>
                        <p class="card-text fecha-producto">Expira: 14/08/2020</p>
                        <div class="row precio-card-productos">
                            <p class="card-text precio-inicial">Precio inicial: </p>
                            <p class="card-text precio-final">32 &#8364;</p>
                        </div>
                        <div class="row precio-card-productos">
                            <p class="card-text precio-inicial">Precio final: </p>
                            <p class="card-text precio-final">13 &#8364;</p>
                        </div>
                    </div>
                </div>
                <div class="card col-sm-4">
                    <img class="card-img-top" src="https://img.grouponcdn.com/deal/4BKWuhbBa5dnpEN2i4tnofcEFnz1/4B-1000x600/v1/c700x420.jpg" alt="Kit blanqueamiento dental">
                    <div class="card-body">
                        <h5 class="card-title titulo-producto">Kit de blanqueamiento dental</h5>
                        <p class="card-text descripcion-producto">Ayuda a aclarar hasta 10 tonos además de ser fácil de uso</p>
                        <p class="card-text fecha-producto">Expira: 18/08/2020</p>
                        <div class="row precio-card-productos">
                            <p class="card-text precio-inicial">Precio inicial: </p>
                            <p class="card-text precio-final">39,98 &#8364;</p>
                        </div>
                        <div class="row precio-card-productos">
                            <p class="card-text precio-inicial">Precio final: </p>
                            <p class="card-text precio-final">16.79 &#8364;</p>
                        </div>
                    </div>
                </div>
                <div class="card col-sm-4">
                    <img class="card-img-top" src="https://www.farmacia4estaciones.es/17912-medium_default/xmascarillas-quirurgicas-pack-de-50.jpg.pagespeed.ic.SBFo6ikMwn.jpg" alt="Pack mascarillas">
                    <div class="card-body">
                        <h5 class="card-title titulo-producto">Mascarillas (Pack 100)</h5>
                        <p class="card-text descripcion-producto">Con de 3 capas, estas máscaras faciales cuentan con cómodos bucles elásticos para los oídos</p>
                        <p class="card-text fecha-producto">Expira: 18/08/2020</p>
                        <div class="row precio-card-productos">
                            <p class="card-text precio-inicial">Precio inicial: </p>
                            <p class="card-text precio-final">39,98 &#8364;</p>
                        </div>
                        <div class="row precio-card-productos">
                            <p class="card-text precio-inicial">Precio final: </p>
                            <p class="card-text precio-final">16.79 &#8364;</p>
                        </div>
                    </div>
                </div>
                <div class="card col-sm-4">
                    <img class="card-img-top" src="https://img-a.udemycdn.com/course/750x422/1944384_9263_5.jpg" alt="Curso de fotografía">
                    <div class="card-body">
                        <h5 class="card-title titulo-producto">Curso de iniciación a Fotografía </h5>
                        <p class="card-text descripcion-producto">Curso de iniciación con 8 horas y media de teoría y práctica.</p>
                        <p class="card-text fecha-producto">Expira: 30/10/2020</p>
                        <div class="row precio-card-productos">
                            <p class="card-text precio-inicial">Precio inicial: </p>
                            <p class="card-text precio-final">199 &#8364;</p>
                        </div>
                        <div class="row precio-card-productos">
                            <p class="card-text precio-inicial">Precio final: </p>
                            <p class="card-text precio-final">27.99 &#8364;</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
