@model Heldu.Entities.Models.Usuario


@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!-- CSS Personalizado -->
<link href="~/css/Usuarios_MiPerfilPV.css" rel="stylesheet" type="text/css">

<div class="col-3">
    <img id="imagen-usuario-pv" src="data:image/png;base64,@System.Convert.ToBase64String(Model.FotoUsuario)" />
    <br />
    <div class="botones-PV">
        <a asp-action="MiCuenta" asp-route-id="@Model.Id" class="btn">Mi cuenta</a>
    </div>
    <div class="botones-PV">
        <a asp-action="Historico" asp-route-id="@Model.Id" class="btn">Histórico</a>
    </div>
    <div class="botones-PV">
        <a asp-action="Rewards" asp-route-id="@Model.Id" class="btn">Rewards</a>
    </div>
    <img loading="lazy" class="card-img-top" src="~/Usuarios/GetDarde" onerror='this.onerror=null;this.src="https://i.ibb.co/FXsjMng/Imagen-no-disponible-min.png";'>
    <div class="botones-PV">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="usuario-saliendo">
            <button type="submit" class="btn boton-cerrar-sesion"><p>Salir</p></button>
        </form>
    </div>
</div>
