@model Heldu.Entities.Models.Usuario


@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{ 
    ViewData["Title"] = "Mi Perfil";
}

<!-- CSS Personalizado -->
<link href="~/css/Usuarios_MiPerfilPV.css" rel="stylesheet" type="text/css">

<div class="col-3" id="menu-izquierda">
    <img id="imagen-usuario-pv" src="data:image/png;base64,@System.Convert.ToBase64String(Model.FotoUsuario)" />
    <br />
    <div class="botones-PV">
        <a asp-action="MiCuenta" asp-route-id="@Model.Id" class="btn">Mi cuenta</a>
    </div>
    <div class="botones-PV">
        <a asp-action="Historico" asp-route-id="@Model.Id" class="btn">Histórico</a>
    </div>
    <div class="botones-PV">
        <a asp-action="Rewards" asp-route-id="@Model.Id" class="btn">Rewards</a>
    </div>
    <div class="botones-PV">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="usuario-saliendo">
            <button type="submit" class="btn btn-danger">SALIR</button>
        </form>
    </div>
</div>
