<h1 style="text-align: center; margin-top:8%;">Te has inscrito en el curso satisfactoriamente</h1>
<br />
<br />
<form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="saleYEntra">
    <p>Ya puedes ingresar para comenzar a disfrutar de Heldu</p>
    <button style="border: 1px solid;" type="submit" class="nav-link btn btn-link textType2">Salir</button>
</form>
