@model DEFINITIVO.Models.Usuario

@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="row" style="margin-top:10%;">
    <partial name="_MiperfilPV" model="Model" />
    @*My rewards*@
    <div class="col-6 offset-1" style="width: 66%;background-color: aquamarine;">
        <div>
            <h3>My Rewards</h3>
        </div>
        <div class="row">
            <div class="col-4">
                <div style="background:red;">
                    <h5>Crédito acumulado</h5>
                </div>
                <div style="background:white;">
                    <p>Texto</p>
                    <p>Texto</p>
                    <p>Texto</p>
                    <p>Texto</p>
                    <p>Texto</p>
                    <p>Texto</p>
                </div>
            </div>
            <div class="col-6 offset-1">
                <div style="background:blue;">
                    <h5>Recomiéndanos a un amigo</h5>
                </div>
                <div>
                    <br />
                    <input placeholder="Introduce la dirección de tu amigo" type="text" name="mail"><br>
                    <input type="submit" value="Enviar">
                </div>
            </div>
        </div>
    </div>
</div>