@model Heldu.Entities.Models.Usuario

@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="row" style="margin-top:10%;">
    <partial name="_MiperfilPV" model="Model" />
    @*My rewards*@
    <div class="col-6 offset-1">
        <img style="width:27vw;" src="https://images.pexels.com/photos/211122/pexels-photo-211122.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" />
    </div>
</div>